<header class="header">
  <h1 class="header_bar">
    <%= link_to "TENNIS", root_path, data: {"turbolinks" => false} %>
  </h1>
  <nav class="pc-nav">
    <ul class="nav_bar">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
      <% end %>
    </ul>
  </nav>
</header>


<br>
<h1 class="exp">アプリの使い方</h1><br><br>
  <div class="exp_border">
    <h2 class="exp_pati">
      イベントに参加する
    </h2><br>
    <p class="exp_pati">
      カレンダーページの[詳細＆参加申込]ボタンをクリックし、一言記入して[参加する]ボタンをクリックすると参加することができます。
    </p><br>
    <p class="exp_pati">
      <%= link_to "[イベントに参加]", reservations_path %><br>
    </p>
    <br>
  </div>
  <br><br><br><br>
  <div class="exp_border">
    <h2 class="exp_pati">
      イベントを登録する
    </h2><br>
    <p class="exp_pati">
      ご自身で区営のテニスコートなどを予約していただき、イベント登録ページで練習仲間を募集することができます。
    </p><br>
    <p class="exp_pati">
      <%= link_to "[イベントを登録]", new_reservation_path %><br>
    </p>
    <br>
  </div>
