<p id="notice"><%= notice %></p>
<div class="devise_img">
  <div class="devise_box">
    <div class="event_border">
      <div class="event_field">
        <strong>イベント登録者名:</strong>
        <%= @reservation.user.nickname %>
      </div><br>

      <div class="event_field">
        <strong>レベル:</strong>
        <%= @reservation.level %>
      </div><br>

      <div class="event_field">
        <strong>地域:</strong>
        <%= @reservation.city.name %>
      </div><br>

      <div class="event_field">
        <strong>場所:</strong>
        <%= @reservation.area %>
      </div><br>

      <div class="event_field">
        <strong>集合時間:</strong>
        <%= @reservation.start_time.strftime("%Y-%m-%d %H:%M") %>
      </div><br>

      <div class="event_field">
        <strong>解散時間:</strong>
        <%= @reservation.end_time.strftime("%Y-%m-%d %H:%M") %>
      </div><br>

      <div class="event_field">
        <strong>最低参加人数:</strong>
        <%= @reservation.min %>
        ＊人数が足りない場合はキャンセルの場合があります
      </div><br>

      <div class="event_field">
        <strong>最大参加人数:</strong>
        <%= @reservation.max %>
      </div><br>

      <div class="event_field">
        <strong>備考:</strong>
        <%= @reservation.text %>
      </div><br>
    </div>
  </div>



  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@reservation, @participant], local: true) do |form| %>
        <%= form.text_field :text, placeholder: "参加するにあたり一言" %>
        <%= form.submit "参加する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ 参加するには新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="participants">
      <h4>＜参加者一覧＞</h4>
      <% @participants.each do |participant| %>
        <p>
          <strong><%= participant.user.nickname %>：<%= participant.text %></strong>
        </p>
      <% end %>
    </div>
  </div>




  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@reservation, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.user.nickname %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>



