<!DOCTYPE html>
<html>
  <head>
    <title>Tennis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <a href="/">TENNIS</a>
      </h1>
      <nav class="pc-nav">
        <ul>
          <% if user_signed_in? %>
            <li><a href="#">ログアウト</a></li>
          <% else %>
            <li><a href="#">ログイン</a></li>
            <li><a href="#">新規登録</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>

